<div class="container config-main" data-ng-controller="configCtrl">
  <select name="nameSelect" id="nameSelect" ng-change="nameSelect()" ng-model="nameConfig">
    <option disabled selected value="">Select Environment</option>
    <option value="House">House</option>
    <option value="Warehouse">Warehouse</option>
  </select>
  <div class="brief-message-config">
    <h1 class="white-text">Set Brief Message</h1>
    <input type='text' ng-model="messageHeader"/>
    <input type='text' ng-model="messageText"/>
    <div>
      <button type="button" ng-click="setMessage()">Submit</button>
    </div>
  </div>
  </div>