<div class="container mission-set" data-ng-controller="missionCtrl">
	<h1 class="white-text set-mission-title">Set Mission</h1>
    <div class="set-mission-form">
		<select name="levelSelect" id="levelSelect" ng-change="levelSelect()" ng-model="missionLevel">
			<option disabled selected value="">Select Level</option>
			<option value="1">Level 1</option>
			<option value="2">Level 2</option>
			<option value="3">Level 3</option>
			<option value="4">Level 4</option>
			<option value"0">All</option>
		</select>
		<select name="missionSelect" id="missionSelect" ng-model="selectedMission">
			<option value="">Select Mission</option>
			<option ng-repeat="mission in allMissions" value="{{mission.name}}">{{mission.name}}</option>
		</select>
		<div>
			<div class='message white-text'>{{messageText}}</div>				
			<button type="button" ng-click="setMission()">Submit</button>
		</div>
	</div>				
</div>
